<%= image_tag @pinner.image.url (:medium) %>
<p>
  <strong>Description:</strong>
  <%= @pinner.description %>
</p>

<%= link_to 'Edit', edit_pinner_path(@pinner) %> |
<%= link_to 'Back', pinners_path %>
